@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", cursive;
  color: #fff;
}

#screen-home {
  font-family: "Press Start 2P", cursive;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -10%;
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 5em;
  letter-spacing: 3px;
  margin-bottom: 0.6em;
}

.contaier ul {
  margin-top: 1.2em;
  display: flex;
  justify-content: space-evenly;
}

ul li {
  font-size: 1.3em;
  list-style: none;
  cursor: pointer;
  text-align: center;
}

ul li:hover {
  color: rgb(214, 72, 26);
}

.heart {
  display: flex;
  width: 60%;
  margin-bottom: 1.2em;
  justify-content: space-around;
}
.heart div {
  width: 130px;
}
