@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", cursive;
  color: #fff;
}

#screen-home {
  font-family: "Press Start 2P", cursive;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -10%;
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 5em;
  letter-spacing: 3px;
  margin-bottom: 0.6em;
}

.contaier {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul li {
  font-size: 1.3em;
  list-style: none;
  cursor: pointer;
  text-align: center;
}
.play {
  margin-top: 1em;
  cursor: pointer;
  width: 5em;
  fill: rgb(214, 72, 26);
}

.play:hover {
  transform: scale(1.2);
}

.heart {
  display: flex;
  width: 60%;
  margin-bottom: 1.2em;
  justify-content: space-around;
}
.heart div {
  width: 130px;
}

.dead {
  width: 20px;
}

.dead {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.dead div {
  fill: rgb(214, 72, 26);
  margin-bottom: 2em;
  width: 100px;
}

.play svg:nth-child(2) {
  display: none;
  height: 6em;
  transform: rotate(324deg);
}
